@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: "Fredoka", sans-serif;
    font-size: 1em;
    margin: 1rem;
    padding: 0;
    background-color: beige;
    color: red;
}

h1 {
    font-size: 250%;
    text-align: center;
}

h2 {
    font-size: 150%;
    text-align: center;
    color: black;
}

.intro {
    font-size: 150%;
    text-align: center;
    color: blue;
}

.video {
    align-items: center;
    max-width: 90%;
}   

.audio {
    align-items: center;
    background-color: light blue;
    max-width: 90%;
}

img {
    width: 15em;
    height: auto;   
}

.image-div {
    align-content: center;
    display: block;
    flex-grow: 2;
    align-content: first baseline;
}

footer {
    font-size: 200%;
    text-align: center;
}
@media screen and (max-width: 500px) {
    img {
        width: 100%;
        height: auto;
    }

}